<h2 class="page-header">Books</h2>

<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label for="title">Title</label>
      <input type="text" name="title" value="<%- searchOption.title %>" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="publishedAfter">Published After</label>
      <input type="date" name="publishedAfter" value="<%- searchOption.publishedAfter %>" />
    </div>
    <div class="form-item">
      <label for="publishedBefore">Published Before</label>
      <input type="date" name="publishedBefore" value="<%- searchOption.publishedBefore %>" />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<%- include("../partials/bookGrid", {books: books}) %>