<% bookCoverClass=locals.large ? 'book-cover-large' : '' %>
    <% bookGridClass=locals.large ? 'book-grid-large' : '' %>
        <div class="book-grid <%= bookGridClass %>">
            <% books.forEach(book=> { %>
                <a href="/books/<%= book.id %> ">
                    <img src="<%= book.coverImagePath %>" class="<%= bookCoverClass %> book-cover" alt="">
                </a>
                <% }); %>
        </div>