<header>
    <a href="/">
        <h1>MyBrary</h1>
    </a>
    <ul>
        <li><a href="/books">Books</a></li>
        <li><a href="/books/new">Add Books</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Authors</a></li>
    </ul>
</header>