<h2>Recently Added</h2>
<div>
    <% books.forEach(book=> { %>
        <a href="/books/<%= book.id %> "><img src="<%= book.coverImagePath %> " height="150" width="100" alt=""></a>
        <% }); %>
</div>