@import "shared/variables.css";
@import "shared/header.css";
@import "shared/buttons.css";
@import "shared/form.css";
@import "shared/author.css";
@import "shared/books.css";

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: var(--color-text-light);
}

body {
  background: linear-gradient(
    to right,
    var(--color-background-dark),
    var(--color-background-light)
  );
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.error-message {
  color: hsl(var(--color-danger-hue), 100%, 50%);
}